.quiz-container {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.quiz-container h2 {
  font-size: 30px;
  margin: 15px;
}

.question-block {
  font-size: 20px;
  padding: 10px;
  background-color: #d7d7d7;
  width: 60%;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  margin: 15px;
}

.options-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 10px 0;
  gap: 10px;
}

.option-label {
  border: 1px solid #928e8e;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 5px;
}

.option-label:hover {
  background-color: #b9b8b8;
}

.option-label.selected {
  background-color: #b9b8b8;
  cursor: pointer;
}

.option-label.selected:hover {
  background-color: #b9b8b8;
  cursor: pointer;
}

/* Correct answer */
.options-container.locked .option-label.correct {
  background-color: #007b1d;
  color: whitesmoke;
  cursor: default;
}

/* Incorrect answer */
.options-container.locked .option-label.incorrect {
  background-color: #9b0010;
  color: whitesmoke;
  cursor: default;
}

.options-container.locked .option-label.show-correct {
  background: #007b1d;
  color: whitesmoke;
}

/* Disable hover for locked options after submitting */
.options-container.locked .option-label {
  cursor: default;
  background-color: initial; 
}

.submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 15px;
  color: white;
  background-color: purple;
  border: none;
  border-radius: 5px;
  width: 30%;
  cursor: pointer;
  transition: 0.3s ease;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-button:hover:not(:disabled){
  background-color: rgb(94, 0, 94);
}


.score-container {
  margin: 20px auto;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid purple;
  width: 200px;
  border-radius: 5px;
  cursor: none;
}
